img[src="b-NnkSoA.jpeg"]
{
    border: 2px;
    border-radius: 75%;
}

img[src="exercise-705x370.jpg"]
{
    margin: 5px;
    float: left;
}
img[src="anime.jpeg"]
{
    margin: 5px;
    float: right;
}
p
{
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif; 
}
.grid-container
{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: auto;
    grid-gap: 25px;
}
.flex-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#headerbox
{
    grid-row: 1;
    grid-column: 1/5;
    background-color: #63B3ED;
    color: #FFFFFF;
    /*border: 2px solid black;*/
}
#headerbox p
{
    color: #FFFFFF;
}
h1
{
    font-size: 36;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#mainbox
{
    grid-row: 2/6;
    grid-column: 1/4;
    /*border: 2px solid black;*/
}
article
{
    color: #718096;
}
h2
{
    font-size: 32px;
    color: #48BB78;
}
#asidebox
{
    grid-row: 2/6;
    grid-column: 4;
    /*border: 2px solid black;*/
}
#about
{

    background-color: #E2E8F0;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}
#about h3
{
    color: #000000;
    
}
h3
{
    color: #48BB78;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a
{
    color: #4299E1;
}
#footerbox
{
    grid-row: 6;
    grid-column: 1/5;
    /*border: 2px solid black;*/
    background-color: #2C5282;
    padding: 5px;
}
#footerbox p
{
    color: #FFFFFF;
}
